.friends .friends__plus,
.friends .friends__birthday {
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #f7f7f7;
}

.friends__plus .friends__plus-title,
.friends__list .friends__title,
.friends__birthday .friends__birthday-title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.friend .friend__now-listening,
.friend .friend__birthday-gift {
  padding: 5px 10px;
  border-radius: 15px;

  font-size: 12px;
}

.friend .friend__now-listening {
  border: 2px solid #40d373;
}

.friend .friend__birthday-gift {
  border: 2px solid rgb(216, 105, 109);
}

.friend .friend__now-listening span {
  opacity: 0.6;
}

.friend .friend__now-listening i {
  font-size: 14px;
  color: #40d373;
}

.friend .friend__birthday-gift i {
  color: rgb(216, 105, 109);
  font-size: 14px;
}
